:root {
  --background: #232323;
  --lift: #2c2c2c;
  --faded: #838383;

  /* * Pick an accent color below by commenting in one set, and commenting the others out */
  /* !Salmon */
  --accent: 7, 82%;
  --l: 63%;

  /* !Blue */
  /* --accent: 198, 76%;
  --l: 51%; */

  /* !Orange */
  /* --accent: 19, 97%;
  --l: 51%; */

  /* !Pink */
  /* --accent: 334, 100%;
  --l: 50%; */

  /* !Purple */
  /* --accent: 265, 83%;
  --l: 57%; */

  /* !Green */
  /* --accent: 162, 95%;
  --l: 34%; */

  /* !Yellow */
  /* --accent: 36, 100%;
  --l: 56%; */

  --color-primary: hsl(var(--accent), var(--l));
}

body {
  min-height: 100vh;
  min-width: 100vw;
  background-color: var(--background);
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}

header {
  height: 75px;
  width: 100vw;
  background-color: var(--color-primary);
  padding: 0px 35px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 80px;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  width: 100vw;
  text-align: center;
}

.big-title {
  font-size: 64px;
  color: var(--color-primary);
}

p {
  font-size: 20px;
}

.word {
  font-size: 32px;
  color: var(--color-primary);
}

nav {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.nav-btn {
  background-color: var(--color-primary);
  border-radius: 3px;
  color: white;
  min-width: 50px;
  transition: all 0.05s ease-in-out;
}

.nav-btn:hover {
  --darken: hsl(var(--accent), calc(var(--l) - 5%));
  background-color: var(--darken);
  transition: all 0.05s ease-in-out;
}

button {
  min-width: 150px;
  height: 45px;
  font-size: 25px;
  border-radius: 3px;
  background-color: transparent;
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
  margin: 10px;
  transition: all 0.1s ease-in-out;
}

button:active {
  background-color: var(--color-primary);
  color: white;
  transition: all 0.1s ease-in-out;
}

input,
select {
  width: 225px;
  margin: 0;
  padding: 5;
  box-sizing: border-box;
  border: none;
  border-radius: 3px;
  height: 30px;
  font-size: 18px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.row-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 8px;
}

.col-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card {
  background-color: var(--lift);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
}

.card-image {
  width: 300px;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.colored-text {
  color: var(--color-primary);
}

.red {
  color: red;
}

.green {
  color: green;
}

/* ? CREATED BY BRADYYYYYY */

.type {
  border-radius: 50%;
  font-size: 18px;
  width: 45%;
}
.type-container {
  display: flex;
  justify-content: center;
}
.grass {
  background-color: green;
  color: white;
  padding: 3px;
  border-radius: 5px;
}

.poison {
  background-color: purple;
  color: white;
  padding: 3px;
  border-radius: 5px;
}

.water {
  background-color: rgb(0, 89, 255);
  color: white;
  padding: 3px;
  border-radius: 5px;
}

.fire {
  background-color: #d32a06;
  color: white;
  padding: 3px;
  border-radius: 5px;
}
.electric {
  background-color: #edb222;
  color: var(--gray);
  padding: 3px;
  border-radius: 5px;
}
.bug {
  background-color: #8a970f;
  color: white;
  padding: 3px;
  border-radius: 5px;
}
.normal {
  background-color: #c5c0b4;
  color: var(--gray);
  padding: 3px;
  border-radius: 5px;
}
.rock {
  background-color: #ac9649;
  color: white;
  padding: 3px;
  border-radius: 5px;
}
.ground {
  background-color: #d3b158;
  color: white;
  padding: 3px;
  border-radius: 5px;
}
.dark {
  background-color: #433026;
  color: white;
  padding: 3px;
  border-radius: 5px;
}
.fairy {
  background-color: #eda9ed;
  color: var(--gray);
  padding: 3px;
  border-radius: 5px;
}
.flying {
  background-color: #7c92e6;
  color: white;
  padding: 3px;
  border-radius: 5px;
}
.steel {
  background-color: #7c7d86;
  color: white;
  padding: 3px;
  border-radius: 5px;
}
.dragon {
  background-color: #765ee1;
  color: white;
  padding: 3px;
  border-radius: 5px;
}
.fighting {
  background-color: #773420;
  color: white;
  padding: 3px;
  border-radius: 5px;
}
.ghost {
  background-color: #5c5cac;
  color: white;
  padding: 3px;
  border-radius: 5px;
}
.ice {
  background-color: #73d7f5;
  color: white;
  padding: 3px;
  border-radius: 5px;
}
.psychic {
  background-color: #d93c6f;
  color: white;
  padding: 3px;
  border-radius: 5px;
}
